<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title>登陆成功</title>
		<link rel="stylesheet" href="../../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/reset.css" />
	</head>
	<body>
		<div class="ld_header clearfix">
			<div class="ld_Wrap">
				<ul class="pull-left clearfix">
					<li><a href="javascript:;"><span class="glyphicon glyphicon-earphone"></span>020-38488825</a></li>
					<li><a href="javascript:;"><span class="glyphicon glyphicon-envelope"></span>srkj@sunrizetech.com</a></li>
				</ul>
				<ul class="pull-right clearfix">
					<li><a href="javascript:;"><span class="glyphicon glyphicon-user"></span>GDX4F7*****FAMZACOFUII</a></li>
					<li><a href="javascript:;"><span class="glyphicon glyphicon-log-out"></span>注销</a></li>
				</ul>
			</div>
			
		</div>
		<div class="ld_logo">
			<div class="ld_Wrap">
				<a href=""><img src="../../img/logo.png" alt="" /></a>
			</div>
			
			
		</div>
		<div class="ld_content tab-content-padding ld_Wrap">
			<h3 class="content_title">
    			链能地址<span class="content_tips">(可用于交易转账的公用交易地址) </span>
    		</h3>
    		<div class="ld_content_list clearfix margin_top20">
    			<span class="list_title1 display_block">地址:</span>
    			<span class="list_title2 display_block margin_bottom18"> AS45FD465SAF465SD4GS85D4G654GH163SD51FG65SD</span>
    		</div>
			<h3 class="content_title margin_bottom18">
				重要信息<span class="content_tips">(任何拥有该秘钥的人都可以取出你的钱。所以务必将它保管在安全的地方。)</span>
			</h3>
			<div class="ld_content_list">
				<div>
					<span class="list_title1">秘钥:</span>
					<span class="list_title2">SA***********************************************************</span>
					<span class="content_tips">(请在确定安全的地方显示，防止泄露秘钥信息造成损失)</span>
					<input type="button" class="ld_btn" name="" id="" value="显示密钥" />
				</div>
				<div>
					<span class="list_title1">你把密钥保存在安全的地方了吗？</span>
					<span class="content_tips">(秘钥文件不得外流，请妥善保存你的秘钥文件，建议多用几个专门的U盘备份钱包文件并分地方存放。)</span>
					<input type="button" class="ld_btn" name="" id="" value="嗯！我已经保存好了" />
					<input type="button" class="ld_btn" name="" id="" value="保存秘钥" />
				</div>
			</div>
			<div class="padBottom"></div>
		</div>
		<div class="ld_footer text-center">
			Copyright ©2013-2017  链电网络  粤ICP备10011451号-6
		</div>

		<script src="../../lib/jquery.min.js"></script>
		<script src="../../js/common.js"></script>
		<script>
			$(function(){
//				setEleHeight($(".ld_content"),contentHeight);
			})
		</script>
	</body>
</html>
